.Order{
    width: 80%;
    border:1px solid #eee;
    box-shadow: 0 2px 3px rgba(193,87,26, 0.6);
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 5px;
}
.Ordered_Ing{
    display: inline-block;
    text-transform: capitalize;
    margin: 0 8px;
    padding: 5px;
    border:1.5px dashed rgba(193,87,26);
    border-radius:5px;
}